<div class="row mx-0 py-2 mb-1" id="highlighted">
  <div class="col-1 d-flex align-items-center justify-content-center">
    <img src="../../assets/drivers/drivers.png" class="img img-fluid">
  </div>
  <div class="col-9">
    <h3 class="fntBold fntgray fnt20">Highlighted Drivers</h3>
    <span class="fntNormal fntgrayX fnt13">
      Drivers measure how satisfied employees are with the culture, 
      leadership, and responsibilities that make up their experience 
      at work.
    </span>
  </div>
  <div class="col-2 d-flex align-items-center justify-content-center">
    <button class="highBtn">All Drivers</button>
  </div>
</div>

<div class="p-2" id="subHighlight">
  <h6 class="fntBold fntgrayX mb-3 fnt14">Drivers to improve (3)</h6>
  <div class="row mx-0">
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <div class="row py-2 smallDiv align-items-center">
            <div class="col-2 environment"></div>
            <div class="col-8 pr-0">
              <span class="fntBold fntgrayX fnt14">
                <span>Environment</span>
                <span class="fntRed ml-2 fnt13">6.2</span>
              </span><br>
              <span class="fntBold fntgrayX fnt11">
                <span class="fntRed">-2.1 below </span>
                <span>the Benchmark</span>
                <span class="fntPurple ml-2">8.3</span>
              </span>
            </div>
            <div class="col-1">
              <button id="rthArrow"></button>    
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row py-2 smallDiv align-items-center">
            <div class="col-2 freedom"></div>
            <div class="col-8 pr-0">
              <span class="fntBold fntgrayX fnt14">
                <span>Freedom</span>
                <span class="fntRed ml-2 fnt13">5.2</span>
              </span><br>
              <span class="fntBold fntgrayX fnt11">
                <span class="fntRed">-1.9 below </span>
                <span>the Benchmark</span>
                <span class="fntPurple ml-2">7.1</span>
              </span>
            </div>
            <div class="col-1">
              <button id="rthArrow"></button>    
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row py-2 smallDiv align-items-center">
            <div class="col-2 growth"></div>
            <div class="col-8 pr-0">
              <span class="fntBold fntgrayX fnt14">
                <span>Growth</span>
                <span class="fntRed ml-2 fnt13">6.8</span>
              </span><br>
              <span class="fntBold fntgrayX fnt11">
                <span class="fntRed">-2.2 below </span>
                <span>the Benchmark</span>
                <span class="fntPurple ml-2">9.0</span>
              </span>
            </div>
            <div class="col-1">
              <button id="rthArrow"></button>    
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div class="mb-5 p-2" id="subHighlight">
  <h6 class="fntBold fntgrayX mb-3 fnt14">Drivers doing great (2)</h6>
  <div class="row mx-0">
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <div class="row py-2 smallDiv align-items-center">
            <div class="col-2 reward"></div>
            <div class="col-8 pr-0">
              <span class="fntBold fntgrayX fnt14">
                <span>Reward</span>
                <span class="fntGreen ml-2 fnt13">8.2</span>
              </span><br>
              <span class="fntBold fntgrayX fnt11">
                <span class="fntGreen">1.2 above </span>
                <span>the Benchmark</span>
                <span class="fntPurple ml-2">7.0</span>
              </span>
            </div>
            <div class="col-1">
              <button id="rthArrow"></button>    
            </div>
          </div>
        </div>
        <div class="col-4 ">
          <div class="row py-2 smallDiv align-items-center">
            <div class="col-2 organizational"></div>
            <div class="col-8 pr-0">
              <span class="fntBold fntgrayX fnt14">
                <span>Organizational Fit</span>
                <span class="fntGreen ml-2 fnt13">9.2</span>
              </span><br>
              <span class="fntBold fntgrayX fnt11">
                <span class="fntGreen">2.3 above </span>
                <span>the Benchmark</span>
                <span class="fntPurple ml-2">7.9</span>
              </span>
            </div>
            <div class="col-1">
              <button id="rthArrow"></button>    
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>