<div class="container-fluid">
  <section class="row mx-0" id="profile">

    <app-sidenav [class.col-2]="_AuthenticationService.sideBarOpened" [class.d-none]="!_AuthenticationService.sideBarOpened"></app-sidenav>

    <div id="dashboard" [class.col-10]="_AuthenticationService.sideBarOpened">
      <app-statistics></app-statistics>
      <app-highlighted-drivers></app-highlighted-drivers>
      <app-highlighted-segments></app-highlighted-segments>
      <app-highlighted-comments></app-highlighted-comments>
    </div>
  </section>
</div>
