<ng-sidebar-container *ngIf="_AuthenticationService.sideBarOpened">
  <ng-sidebar [(opened)]="_AuthenticationService._opened">
    <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
      <span>Insights</span>
    </h6>
    <ul class="nav flex-column" id="insights">
      <li class="nav-item active">
        <a class=" nav-link" href="#">
          <img src="../../assets/Sidebar/overview.svg" class="overview">
          <span class="text">Overview</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../../assets/Sidebar/segments.svg" class="segments">
          <span class="text">Segments</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../../assets/Sidebar/drivers.svg" class="drivers">
          <span class="text">Drivers</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../../assets/Sidebar/questions.svg" class="questions">
          <span class="text">Questions</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../../assets/Sidebar/comments.svg" class="comments">
          <span class="text">Comments</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../../assets/Sidebar/people.svg" class="people">
          <span class="text">People Reports</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../../assets/Sidebar/communication.svg" class="communication">
          <span class="text">Communications</span>
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
      <span>Administration</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../../assets/Sidebar/survey.svg" class="survey">
          <span class="text">Surveys</span>
          <img src="../../assets/chevron-down.svg" class="ml-1 mr-0 img-fluid downArrow float-right">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="../../assets/Sidebar/company.svg" class="company">
          <span class="text">Company</span>
          <img src="../../assets/chevron-down.svg" class="ml-1 mr-0 img-fluid downArrow float-right">
        </a>
      </li>
    </ul>
  </ng-sidebar>
</ng-sidebar-container>

<div ng-sidebar-content>
  <button id="btnSide" (click)="_AuthenticationService._toggleSidebar()" style="border: none;"></button>
</div>