/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); */

a {
  color: #8139c2 !important;
  /* text-decoration: none !important;  */
  background-color: transparent !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #465061;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e1e5e9;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #465061;
  background-color: #fff;
  border-color: #bf99e1;
  outline: 0;
  box-shadow: 0 0 8px -1px #8139c2;
}
html, body { height: 100%; }
body { margin: 0; font-family: Loto, "Helvetica Neue", sans-serif; }

/* *** Start repeated *** */
#highlighted {
  border-radius: 4px;
  background-color: #fbfbfb;
}

#subHighlight {
  /* width: 1239px; */
  /* height: 370px; */
  border-radius: 4px;
  box-shadow: 0 0 9px 0 #eeeeee;
  background-color: #ffffff;
}

.highBtn {
width: 104px;
height: 40px;
border-radius: 4px;
border: solid 1px #e1e5e9;
background-color: #ffffff;
/* font-family: Lato; */
font-size: 14px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #8139c2;
border: none;
}

.smallDiv {
  border-radius: 4px;
  border: solid 1px #e1e5e9;
  background-color: #ffffff;
  /* margin-right: 1px; */
}

.fnt10 {font-size: 10px;}
.fnt11 {font-size: 11px;} 
.fnt12 {font-size: 12px;}
.fnt13 {font-size: 13px;}
.fnt14 {font-size: 14px;}
.fnt15 {font-size: 15px;}
.fnt20 {font-size: 20px;}
.fntGreen {color: #4ac979;}
.fntRed {color: #f75656;}
.fntOrange {color: #ffa93a;}
.fntPurple {color: #8139c2;}
.fntgray {color: #75849b;}
.fntgrayX {color: #465061;}
.bg-Mypurple {background-color: #8139c2;}

.fntBold {
  /* font-family: Lato; */
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 1px;
}

.fntNormal {
  /* font-family: Lato; */
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.textUnderline {text-decoration: underline;}

.img50{
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.img10{
  width: 10px;
  height: 10px;
  object-fit: contain;
}
/* *** End repeated *** */